body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 10px;
}

.countainer {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 70%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ddd;
    margin: 10px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.deleteBtn {
    background:  red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.deleteBtn:hover {
    background:  darkred;
}